pre
{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    padding: 9px 12px;
    font-family: Monaco,"Courier New",monospace;
}

.contents p.topic-title
{
    font-size: 16pt;
    font-weight: bold;
}
.contents ul
{
    padding-left: 15px;
    list-style-type: disc;
}

